// container gutter widths
$gutterWidth: 24px;
$twiceGutterWidth: 2 * $gutterWidth;

// container breakpoints
$wideContainerWidth: 1566px;
$wideWidth: $wideContainerWidth + $twiceGutterWidth;
$wideBreak: $wideWidth + 0px;

$desktopContainerWidth: 1244px;
$desktopWidth: $desktopContainerWidth + $twiceGutterWidth;
$desktopBreak: $desktopWidth + 0px;

// setting these to equal when there is no laptop breakpoint
// then you would simply skip using any mixin that has "laptop" in it
$laptopContainerWidth: 1244px;
$laptopWidth: $laptopContainerWidth + $twiceGutterWidth;
$laptopBreak: $laptopWidth + 0px;

$tabletContainerWidth: 710px;
$tabletWidth: $tabletContainerWidth + $twiceGutterWidth;
$tabletBreak: $tabletWidth + 24px;
