@mixin desktop {
  @media (max-width: $wideBreak) {
    @content;
  }
}

@mixin gtDesktop {
  @media (min-width: $wideBreak + 1) {
    @content;
  }
}

@mixin onlyDesktop {
  @media (min-width: $desktopBreak + 1) and (max-width: $wideBreak) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $desktopBreak) {
    @content;
  }
}

@mixin gtLaptop {
  @media (min-width: $desktopBreak + 1) {
    @content;
  }
}

@mixin onlyLaptop {
  @media (min-width: $tabletBreak + 1) and (max-width: $desktopBreak) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $laptopBreak) {
    @content;
  }
}

@mixin gtTablet {
  @media (min-width: $laptopBreak + 1) {
    @content;
  }
}

@mixin onlyTablet {
  @media (min-width: $tabletBreak + 1) and (max-width: $laptopBreak) {
    @content;
  }
}

@mixin phone {
  @media (max-width: $tabletBreak) {
    @content;
  }
}

@mixin gtPhone {
  @media (min-width: $tabletBreak + 1) {
    @content;
  }
}
