@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin spinner(
  $xy,
  $th,
  $t,
  $regCol: rgba(255, 255, 255, 0.6),
  $botCol: rgba(255, 255, 255, 1)
) {
  height: $xy;
  width: $xy;
  border: $th solid $regCol;
  border-bottom-color: $botCol;
  border-radius: 50%;
  animation-name: spinning;
  animation-duration: $t;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@mixin spinnerWhite($xy: 20px, $th: 2px, $t: 540ms) {
  @include spinner(
    $xy,
    $th,
    $t,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 1)
  );
}

@mixin spinnerBlack($xy: 20px, $th: 2px, $t: 540ms) {
  @include spinner($xy, $th, $t, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
}
