@import "scss/exports";

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutterWidth;
  padding-right: $gutterWidth;
  max-width: $wideWidth;
  @include desktop {
    max-width: $desktopWidth;
  }
  @include laptop {
    max-width: $laptopWidth;
  }
  @include tablet {
    max-width: $tabletWidth;
  }
  @include phone {
    max-width: 100%;
  }
}
