{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Bm module for Craft CMS
 *
 * BmModuleWidget Widget Settings
 *
 * @author    wsbm
 * @copyright Copyright (c) 2021 wsbm
 * @link      https://yokohamatire.com
 * @package   BmModule
 * @since     0.0.0
 */
#}

{# {% import "_includes/forms" as forms %} #}

{# {% do view.registerAssetBundle("modules\\bmmodule\\assetbundles\\bmmodule\\BmModuleAsset") %}

{{ forms.textField({
    label: 'Message',
    instructions: 'Enter a message here.',
    id: 'message',
    name: 'message',
    value: widget['message']})
}} #}
