{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Bm module for Craft CMS
 *
 * BmModuleWidget Widget Body
 *
 * @author    wsbm
 * @copyright Copyright (c) 2021 wsbm
 * @link      https://yokohamatire.com
 * @package   BmModule
 * @since     0.0.0
 */
#}

{% import _self as self %}

{% set secret = getenv("CRAFT_PREVIEW_SECRET") %}

{% macro linkSection(location) %}
{% set baseUrl = getenv("") %}

{% endmacro %}

<div id="bm_ext__secret" data-key="{{ secret }}"></div>

{{ self.linkSection({
  label: "List Page Cache",
  action: "/api/cache/clear"
}) }}
